<nav class="navbar navbar-default navbar-fixed-top navbar-sleep-medicine">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{logoUrl}}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#section-learning" (click)="navClicked($event)" >Learning</a></li>
                <li *ngIf="user?.isMSc"><a href="#section-research" (click)="navClicked($event)">Research</a></li>
                <li><a href="#section-announcements" (click)="navClicked($event)">Announcements</a></li>
                <li><a href="#section-assessment" (click)="navClicked($event)">Assessment</a></li>
                <li><a href="#section-info" (click)="navClicked($event)">Info</a></li>
                <li><a href="#section-forum" (click)="navClicked($event)">Forum</a></li>
                <li><a href="#section-about" (click)="navClicked($event)">About</a></li>
                <li><a target="_blank" href="https://weblearn.ox.ac.uk/access/content/group/d1506490-a468-46ca-a915-417d9d11be2f/Course%20Information/Important%20Dates/Timetable/Year%20One%20Timetable.pdf"><i class="fa fa-calendar"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div><a id="section-learning" name="section-learning"></a></div>
    <section>
        <modyules-component></modyules-component>
        <nav  *ngIf="user?.isMSc" class="navbar navbar-default navbar-sleep-medicine-knocked-back">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" id="section-research" name="section-research" href="#">Research</a>
                </div>
            </div>
        </nav>
    </section>
    <div class = "row">
        <div class="col-md-6">
            <section class="">
                <nav class="navbar navbar-default navbar-sleep-medicine-knocked-back">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" id="section-announcements" name="section-announcements" href="#">Announcements</a>
                        </div>
                    </div>
                </nav>
                <announcement-component [announcementsUrl] = "announcementsUrl"></announcement-component>
            </section>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>
        <div class="col-md-6">
            <section class="">
                <nav class="navbar navbar-default navbar-sleep-medicine-knocked-back">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" id="section-forum" name="section-forum" href="#">Forum</a>
                        </div>
                    </div>
                </nav>
                <forum-component [siteId] = "siteId"></forum-component>
            </section>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-6">
            <section class="">
                <nav class="navbar navbar-default navbar-sleep-medicine-knocked-back">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" id="section-assessment" name="section-assessment" href="#">Assessment</a>
                        </div>
                    </div>
                </nav>
                <assessment-component [assessmentUrl] = "assessmentUrl"></assessment-component>
            </section>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>
        <div class="col-md-6">
            <section class="">
                <nav class="navbar navbar-default navbar-sleep-medicine-knocked-back">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" id="section-info" name="section-info" href="#">Course information</a>
                        </div>
                    </div>
                </nav>
                <resource-component [resourcesUrl] = "resourcesUrl"></resource-component>
            </section>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>
    </div>
    <section class="">
        <nav class="navbar navbar-default navbar-sleep-medicine-knocked-back">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" id="section-timetable" name="section-timetable" href="#">Timetable (will just be linked to)</a>
                </div>
            </div>
        </nav>
    </section>
    <section class="">
        <nav class="navbar navbar-default navbar-sleep-medicine-knocked-back">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" id="section-about" name="section-contact" href="#">About</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{russellFosterUrl}}" alt="Russell Foster" class="img-circle">
                    <div class="caption">
                        <h3>Russell Foster</h3>
                        <p>Head of the Nuffield Laboratory of Ophthalmology and the Sleep and Circadian Neuroscience Institute</p>
                        <p><a href="https://www.ndcn.ox.ac.uk/team/russell-foster" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-external-link"></i> More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{colinEspieUrl}}" alt="Colin Espie" class="img-circle">
                    <div class="caption">
                        <h3>Colin Espie</h3>
                        <p>Professor of Sleep Medicine and Senior Research Fellow at Somerville College</p>
                        <p><a href="https://www.ndcn.ox.ac.uk/team/colin-espie" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-external-link"></i> More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{simonKyleUrl}}" alt="Simon Kyle" class="img-circle">
                    <div class="caption">
                        <h3>Simon Kyle</h3>
                        <p>Programme Director, The Oxford Online Programme in Sleep Medicine and Senior Research Fellow</p>
                        <p><a href="https://www.ndcn.ox.ac.uk/team/simon-kyle" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-external-link"></i> More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{sumathiSekaranUrl}}" alt="Sumathi Sekaran" class="img-circle">
                    <div class="caption">
                        <h3>Sumathi Sekaran</h3>
                        <p>Senior Course Tutor, The Oxford Online Programme in Sleep Medicine and Senior Research Scientist</p>
                        <p><a href="https://www.ndcn.ox.ac.uk/team/sumathi-sekaran" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-external-link"></i> More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{nicolaBarclayUrl}}" alt="Nicola Barclay" class="img-circle">
                    <div class="caption">
                        <h3>Nicola Barclay</h3>
                        <p>Course Tutor, The Oxford Online Programme in Sleep Medicine</p>
                        <p><a href="https://www.ndcn.ox.ac.uk/team/nicola-barclay" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-external-link"></i> More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{christopherJamesHarveyUrl}}" alt="Christopher-James Harvey" class="img-circle">
                    <div class="caption">
                        <h3>Christopher-James Harvey</h3>
                        <p>Education and Outreach Office and Associate Director, The Oxford Online Programme in Sleep Medicine</p>
                        <p><a href="https://www.ndcn.ox.ac.uk/team/christopher-james-harvey" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-external-link"></i> More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{marionGreenleavesUrl}}" alt="Marion Greenleaves" class="img-circle">
                    <div class="caption">
                        <h3>Marion Greenleaves</h3>
                        <p>Course Administrator, The Oxford Online Programme in Sleep Medicine</p>
                        <p><a href="https://www.ndcn.ox.ac.uk/team/marion-greenleaves" target="_blank" class="btn btn-warning" role="button"><i class="fa fa-external-link"></i> More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid footer">
    <div class="row">
        <div class="col-sm-4">
            <iframe id="map" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-1.2538093328475954%2C51.75880091715592%2C-1.2502688169479372%2C51.76049098521182&amp;layer=mapnik&amp;marker=51.75964595909129%2C-1.2520390748977661" style="border: 1px solid black"></iframe>
        </div>
        <div class="col-sm-8 contact">
            <h1>Get in touch</h1>
            <h3>Course administration</h3>
            <p><i class="fa fa-send"></i> <a href="mailto:sleepmedicine@ndcn.ox.ac.uk?Subject=Weblearn%20contact">sleepmedicine@ndcn.ox.ac.uk</a></p>
            <p><i class="fa fa-phone"></i> +44 (0)1865 616858</p>
            <p><i class="fa fa-envelope"></i> Oxford Molecular Pathology Institute, Sir William Dunn School of Pathology, South Parks Road, Oxford, OX1 3RE</p>
            <h3>Technical problems</h3>
            <p><i class="fa fa-send"></i> <a href="mailto:msdlt@medsci.ox.ac.uk?Subject=Sleep%20medicine">msdlt@medsci.ox.ac.uk</a></p>
            <p><i class="fa fa-phone"></i> +44 (0)1865 282756</p>
        </div>
    </div>
</div>
