div.under-nav-bar {
  margin-top: 50px;
}

.navbar-sleep-medicine {
  background-color: #002147;
  border-color: #e7e7e7;
}

.navbar-sleep-medicine-knocked-back {
  background-color: #7394BA;
  border-color: #6687AD;
}

.navbar-sleep-medicine a {
  color: #f5f5f5 !important;
}



.navbar-sleep-medicine-knocked-back a {
  color: #f5f5f5 !important;
}

.navbar-sleep-medicine a.hover {
  border-bottom: 1px solid #f5f5f5;
}

.navbar-sleep-medicine .navbar-brand {
  padding-top: 5px;
}

.navbar-sleep-medicine .navbar-brand img {
  height: 40px;
}

.thumbnail {
  text-align: center;
  border: none;
  margin: 0;
}

.footer {
  color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7394BA;
  border-top: 1px solid #002147;
 }

 .sub-footer {
   padding-top: 20px;
   padding-bottom: 20px;
   border-top: 20px solid #002147;
   border-bottom: 20px solid #002147;
  }


 .footer a {
   color: #f5f5f5 !important;
 }

 .label-as-badge {
  border-radius: 1em;
 }

 .bottom-logo{
  margin-left:20px;
 }
