.navbar-sleep-medicine-knocked-back {
  background-color: #7394BA;
  border-color: #6687AD;
}

.navbar-sleep-medicine-knocked-back a {
  color: #f5f5f5 !important;
}

.under-nav-bar {
  margin-top: 60px;
}
