<div class="row hidden-xs">
    <div class="col-sm-12 text-center h4">
        <fa [name]="'calendar'"></fa> {{week.startDate | date:'d MMM'}} to {{week.endDate | date:'d MMM yy'}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs scni-blue"><fa [name]="'film'" [size]=5></fa></div>
            <div class="caption">
                <div>
                    <h3>LECTURE(S)</h3>
                    <div class="list-group">
                        <div *ngFor="let lecture of ((lecturesObservable | async)?.lectures)" class="list-group-item">
                            <a href="{{lecture.url}}" target="_blank" >
                            <h4 class="list-group-item-heading"><fa [name]="'video-camera'"></fa> {{lecture.name}}</h4>
                                <p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter"></p>
                                <strong><p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter: 'lecturer'"></p></strong>
                            </a>
                            <a href="{{lecture.feedback.url}}" target="_blank" ><fa [name]="'comment-o'"></fa> {{lecture.feedback.name}}</a>
                            <accordion [closeOthers]="true">
                                <accordion-group *ngIf="lecture.learningOutcomes" heading="Learning objectives">
                                    <div class="learning-objectives" [innerHTML]="lecture.learningOutcomes"></div>
                                </accordion-group>
                                <accordion-group *ngIf="lecture.resourcesUrl" heading="Resources">
                                    <resource-component [resourcesUrl] = "lecture.resourcesUrl"></resource-component>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs scni-blue"><fa [name]="'users'" [size]=5></fa></div>
            <div class="caption">
                <div>
                    <h3>GROUP DISCUSSION</h3>
                    <div class="list-group">
                        <div *ngFor="let seminar of ((lecturesObservable | async)?.seminars)" class="list-group-item">
                            <h4 class="list-group-item-heading"><fa [name]="'sign-in'"></fa> {{seminar.name}}</h4>
                            <p class="list-group-item-text" [innerHTML]="seminar.description | descriptionFormatter"></p>
                            <strong><p class="list-group-item-text" [innerHTML]="seminar.description | descriptionFormatter: 'lecturer'"></p></strong>
                            <accordion [closeOthers]="true">
                                <accordion-group heading="Sessions">
                                    <div class="list-group">
                                        <div *ngFor="let seminarInstance of seminar.seminarInstances" class="list-group-item">
                                            <a href="{{seminarInstance.url}}"><fa [name]="'clock-o'"></fa> {{seminarInstance.name}}</a>
                                            <strong><p class="list-group-item-text" [innerHTML]="seminarInstance.description | descriptionFormatter: 'lecturer'"></p></strong>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group *ngIf="seminar.learningOutcomes" heading="Learning objectives">
                                    <div class="learning-objectives" [innerHTML]="seminar.learningOutcomes"></div>
                                </accordion-group>
                                <accordion-group *ngIf="seminar.resourcesUrl" heading="Resources">
                                    <resource-component [resourcesUrl] = "seminar.resourcesUrl"></resource-component>
                                </accordion-group>
                            </accordion>
                        </div>

                        <!--div class="list-group-item">
                            <h4 class="list-group-item-heading"><fa [name]="'sign-in'"></fa> Seminar</h4>
                            <p class="list-group-item-text" [innerHTML]="(lecturesObservable | async)?.seminar?.description | descriptionFormatter"></p>
                            <strong><p class="list-group-item-text" [innerHTML]="(lecturesObservable | async)?.seminar?.description | descriptionFormatter: 'lecturer'"></p></strong>
                            <accordion [closeOthers]="true">
                                <accordion-group heading="Sessions">
                                    <div class="list-group">
                                        <div *ngFor="let seminarInstance of ((lecturesObservable | async)?.seminar?.seminarInstances)" class="list-group-item">
                                            <a href="{{seminarInstance.url}}"><fa [name]="'clock-o'"></fa> {{seminarInstance.name}}</a>
                                            <strong><p class="list-group-item-text" [innerHTML]="seminarInstance.description | descriptionFormatter: 'lecturer'"></p></strong>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group *ngIf="(lecturesObservable | async)?.seminar?.learningOutcomes" heading="Learning objectives">
                                    <div class="learning-objectives" [innerHTML]="(lecturesObservable | async)?.seminar?.learningOutcomes"></div>
                                </accordion-group>
                                <accordion-group *ngIf="(lecturesObservable | async)?.seminar?.resourcesUrl" heading="Resources">
                                    <resource-component [resourcesUrl] = "(lecturesObservable | async)?.seminar?.resourcesUrl"></resource-component>
                                </accordion-group>
                            </accordion>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs scni-blue"><fa [name]="'forward'" [size]=5></fa></div>
            <div class="caption">
                <div>
                    <h3>SUPPLEMENTARY</h3>
                    <modyule-resource-component [modyule]="week.modyule"></modyule-resource-component>
                </div>
            </div>
        </div>
    </div>
</div>
