<div class="row hidden-xs">
    <div class="col-sm-12 text-center h4">
        <a target="_blank" href="https://weblearn.ox.ac.uk/access/content/group/d1506490-a468-46ca-a915-417d9d11be2f/Course%20Information/Important%20Dates/Timetable/Year%20One%20Timetable.pdf"><i class="fa fa-calendar"></i></a><!--fa [name]="'calendar'"></fa--> {{week.startDate | date:'d MMM'}} to {{week.endDate | date:'d MMM yy'}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs scni-blue"><i class="fa fa-film fa-5x"></i><!--fa [name]="'film'" [size]=5></fa--></div>
            <div class="caption">
                <div>
                    <h3>LECTURE(S)</h3>
                    <div class="list-group">
                        <div *ngFor="let lecture of ((lecturesObservable | async)?.lectures)" class="list-group-item">
                            <a href="{{lecture.url}}" target="_blank" >
                            <h4 class="list-group-item-heading"><i class="fa fa-video-camera"></i><!--fa [name]="'video-camera'"></fa--> {{lecture.name}}</h4>
                                <p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter"></p>
                                <strong><p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter: 'lecturer'"></p></strong>
                            </a>
                            <div *ngIf="lecture.feedback?.url" class="row"><div class="col-md-12">&nbsp;</div></div><!--spacer only needed-->
                            <a *ngIf="lecture.feedback?.url" href="{{lecture.feedback?.url}}" target="_blank" ><i class="fa fa-reply"></i><!--fa [name]="'comment-o'"></fa--> {{lecture.feedback?.name}}</a>
                            <div class="row"><div class="col-md-12">&nbsp;</div></div><!--spacer-->
                            <accordion [closeOthers]="true">
                                <accordion-group #lecturelo *ngIf="lecture.learningOutcomesUrl">
                                    <div accordion-heading>
                                        Learning outcomes <i class="fa pull-right" [ngClass]="{'fa-caret-up': lecturelo?.isOpen, 'fa-caret-down': !lecturelo?.isOpen}"></i>
                                    </div>
                                    <html-resource-component [htmlResourceUrl]="lecture.learningOutcomesUrl"></html-resource-component>
                                </accordion-group>
                                <!--accordion-group *ngIf="lecture.learningOutcomes" heading="Learning outcomes">
                                    <div class="learning-objectives" [innerHTML]="lecture.learningOutcomes"></div>
                                </accordion-group-->
                                <accordion-group #lecturelr *ngIf="lecture.resourcesUrl">
                                    <div accordion-heading>
                                        Resources <i class="fa pull-right" [ngClass]="{'fa-caret-up': lecturelr?.isOpen, 'fa-caret-down': !lecturelr?.isOpen}"></i>
                                    </div>
                                    <resource-component [resourcesUrl] = "lecture.resourcesUrl"></resource-component>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs scni-blue"><i class="fa fa-users fa-5x"></i><!--fa [name]="'users'" [size]=5></fa--></div>
            <div class="caption">
                <div>
                    <h3>DISCUSSION GROUP</h3>
                    <div class="list-group">
                        <div *ngFor="let seminar of ((lecturesObservable | async)?.seminars)" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-sign-in"></i><!--fa [name]="'sign-in'"></fa--> {{seminar.name}}</h4>
                            <p class="list-group-item-text" [innerHTML]="seminar.description | descriptionFormatter"></p>
                            <strong><p class="list-group-item-text" [innerHTML]="seminar.description | descriptionFormatter: 'lecturer'"></p></strong>
                            <div class="row"><div class="col-md-12">&nbsp;</div></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-warning btn-lg btn-block" *ngIf="seminar.instructionsUrl" href="{{seminar.instructionsUrl}}" target="_blank" ><i class="fa fa-list-ol"></i> Instructions</a><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a *ngIf="seminar.feedback?.url" href="{{seminar.feedback?.url}}" target="_blank" >
                                        <i class="fa fa-reply"></i>
                                        {{seminar.feedback?.name}}
                                    </a>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-12">&nbsp;</div></div>
                            <accordion [closeOthers]="true">
                                <accordion-group #seminarls>
                                    <div accordion-heading>
                                        Sessions <i class="fa pull-right" [ngClass]="{'fa-caret-up': seminarls?.isOpen, 'fa-caret-down': !seminarls?.isOpen}"></i>
                                    </div>
                                    <div class="list-group">
                                        <div *ngFor="let seminarInstance of seminar.seminarInstances" class="list-group-item">
                                            <a href="{{seminarInstance.url}}"><i class="fa fa-clock-o"></i><!--fa [name]="'clock-o'"></fa--> {{seminarInstance.name}}</a>
                                            <strong><p class="list-group-item-text" [innerHTML]="seminarInstance.description | descriptionFormatter: 'lecturer'"></p></strong>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group #seminarlo *ngIf="seminar.learningOutcomesUrl">
                                    <div accordion-heading>
                                        Learning outcomes <i class="fa pull-right" [ngClass]="{'fa-caret-up': seminarlo?.isOpen, 'fa-caret-down': !seminarlo?.isOpen}"></i>
                                    </div>
                                    <html-resource-component [htmlResourceUrl]="seminar.learningOutcomesUrl"></html-resource-component>
                                </accordion-group>
                                <accordion-group #seminarlr *ngIf="seminar.resourcesUrl">
                                    <div accordion-heading>
                                        Resources <i class="fa pull-right" [ngClass]="{'fa-caret-up': seminarlr?.isOpen, 'fa-caret-down': !seminarlr?.isOpen}"></i>
                                    </div>
                                    <resource-component [resourcesUrl] = "seminar.resourcesUrl"></resource-component>
                                </accordion-group>
                            </accordion>
                        </div>

                        <!--div class="list-group-item">
                            <h4 class="list-group-item-heading"><fa [name]="'sign-in'"></fa> Seminar</h4>
                            <p class="list-group-item-text" [innerHTML]="(lecturesObservable | async)?.seminar?.description | descriptionFormatter"></p>
                            <strong><p class="list-group-item-text" [innerHTML]="(lecturesObservable | async)?.seminar?.description | descriptionFormatter: 'lecturer'"></p></strong>
                            <accordion [closeOthers]="true">
                                <accordion-group heading="Sessions">
                                    <div class="list-group">
                                        <div *ngFor="let seminarInstance of ((lecturesObservable | async)?.seminar?.seminarInstances)" class="list-group-item">
                                            <a href="{{seminarInstance.url}}"><fa [name]="'clock-o'"></fa> {{seminarInstance.name}}</a>
                                            <strong><p class="list-group-item-text" [innerHTML]="seminarInstance.description | descriptionFormatter: 'lecturer'"></p></strong>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group *ngIf="(lecturesObservable | async)?.seminar?.learningOutcomes" heading="Learning objectives">
                                    <div class="learning-objectives" [innerHTML]="(lecturesObservable | async)?.seminar?.learningOutcomes"></div>
                                </accordion-group>
                                <accordion-group *ngIf="(lecturesObservable | async)?.seminar?.resourcesUrl" heading="Resources">
                                    <resource-component [resourcesUrl] = "(lecturesObservable | async)?.seminar?.resourcesUrl"></resource-component>
                                </accordion-group>
                            </accordion>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs scni-blue"><i class="fa fa-forward fa-5x"></i><!--fa [name]="'forward'" [size]=5></fa--></div>
            <div class="caption">
                <div>
                    <h3>SUPPLEMENTARY</h3>
                    <modyule-resource-component [modyule]="week.modyule"></modyule-resource-component>
                </div>
            </div>
        </div>
    </div>
</div>
